[submodule "vllm"]
	path = vllm
	url = https://github.com/vllm-project/vllm.git
	branch = v0.18.0
[submodule "vllm-ascend"]
	path = vllm-ascend
	url = https://github.com/naliazheli/vllm-ascend.git
	branch = dbo-dev
[submodule "sgl-kernel-npu"]
	path = sgl-kernel-npu
	url = https://github.com/sgl-project/sgl-kernel-npu.git
	branch = main
